:root{
    background-color: rgb(241, 241, 241);
    height: 1000px;
}

button {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

input:focus{
    outline: none;
}




button:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

button:active{
    background-color: rgb(240, 240, 240);
}


.App{
    margin-left: 40%;
    width: 50%;
    height: 50%;
    margin-top: 20px;

}

.QuickNimiInput {
    margin-left: 25%;
    margin-top: 20px;
    
    width: 50%;
    text-align: center;
    top: 30px;
    z-index: 1;
}

.Arvonta {
    position: absolute;
    bottom: 10px;
    left: 25%;
    width: 50%;
    height: 25%;
    text-align: center;
    z-index: 3;  
}

.Menu{
    text-align: center;
    display: block;
    margin: auto;
    height: auto;
    width: 60%;
    height: 50%;
    left: 20%;
    top: 25%;
    border: 1px solid rgb(200, 200, 200);   
    border-radius: 5%;
    position: absolute;
    background-color: white;
    z-index: 4;
}

.Menu > h4{
    width: 90%;
    height: fit-content;
    margin-bottom: 20%;
    margin-top: 15% ;
    margin-left: 5%;
    padding: 2px;
    text-decoration: underline;
}


.Menu > h4:hover {
    color: rgb(99, 99, 99);
    cursor:pointer;
}

.DrawCard{
    position: absolute;
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-color: white;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
}

.CreateDraw {
    color: black;
    width: 99%;
    height: 80%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    display: inline-block;
    
}

input {
    text-align: center;
    border: 0;
    border-bottom: 1px solid rgb(79, 79, 79);
    font-family:'Times New Roman', Times, serif;
    padding: 5px;
}

::placeholder{
    color: rgb(47, 47, 47);
}

th {
    background: rgb(251, 251, 251);
}



.DrawBlur{
    width: 100%;
    height: 100%;
}


.QuickTable thead th{
    background-color: white ;
    position: sticky;
    top: -10px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    z-index: 1;
}

.QuickTable table {
    /* make the table borders collapse to each other */
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    
}

.QuickTable  tbody th,td{
    border-bottom: 1px solid rgb(98, 98, 98);
    border-radius: 10%;
    text-align: left;
    position: relative;
    height: 25px;

    
}
.deleteButton{
    position: absolute;
    right: 2px;
    padding: 2px;
}

.SearchDraw{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80%;
    z-index: 3;
}

.QuickDraw{
    background-color: white;
    width: 100%;
    height: 91%-20px;
    border-radius: 10%;
}

.closeButton {
    
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(169, 169, 169);
    z-index: 2;
}

.closeButton:hover:active{
    background-color: rgb(190, 190, 190);
}

.closeButton:hover{
    background-color: rgb(182, 182, 182);
}


.MenuButton{
    position: absolute;
    top:5px;
    right:5px;
    background-color: white;
    box-shadow: 0;
    border: 1px rgb(203, 203, 203) solid;
    border-radius: 7px;
    z-index: 3;
    font-family: 'Times New Roman', Times, serif;
}

.HaettuArvonta{
    height: 70%;
}

.Hamb {
    display: inline-block;
    cursor: pointer;    
    padding-left: 15px;
    padding-top: 5px;
    width: auto;
    height: auto;

}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.FormTiedot{

    bottom: 50px;
    margin: auto;
    width: 100%;
    text-align: center;

}

.FormButton{
    margin: auto;
    margin-bottom: 15px;
    width: 33%;
    bottom: 50px;
}

.FormButton > button {
    width: 100%;
}

.CreateTiedot {
    margin: auto;
    width: auto;
    text-align: center;
    padding-top: 20px;
}

.CreateTiedot > button, input {
    width: 33%;
    padding-top: 5px;
    margin: 3px;
}

.DrawLine {
    width: 100%-20px;
    height: 1px;
    background-color: rgb(153, 153, 153);
    margin: 5px;

}

.LuotuArvonta{
    padding: top 10px;;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
}

.ArvontaIkkuna {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black;
    border-radius: 5%;
    z-index: 2;
}

.Osallistujat{
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5%;
    z-index: 3;
}

.QuickTable{
    margin-top: 5%;
    overflow-y:auto;
    min-height:100px;
    max-height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 1%;
    padding: 5px;
    background-color: white;

}