

.App{
    width: 300px;
    height: 300px;
}

.QuickNimiInput {
    position: relative;
    left: 25%;
    width: 50%;
    text-align: center;
    top: 30px;
}

.Menu{
    text-align: center;
    display: block;
    margin: auto;
    height: auto;
    width: 60%;
    height: 50%;
    left: 20%;
    top: 25%;
    border: 1px solid black;   
    position: absolute;
    z-index: 3;
    background-color: white;
}

.Menu > h4{
    border: 1px solid black;
    margin: auto;
    width: 90%;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 2px;
}


.Menu > h4:hover {
    color: red;
    cursor:pointer;
}

.DrawCard{
    position: relative;
    margin: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.CreateDraw {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: aqua;
    opacity: 50%;
    position: absolute;
    z-index: 1;
    
}

th {
    background: #eee;
}



.DrawBlur{
    width: 100%;
    height: 100%;
    z-index: 4;
}

.QuickTable{
    overflow-y:auto;
    min-height:200px;
    max-height: 200px;
    margin:40px;

}

.QuickTable thead th{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 30px;
    z-index: 2;
    border: 2px solid black;
    
}

.QuickTable table {
 /* make the table borders collapse to each other */
    width: 100%;
    border-collapse: collapse;
    
}

.QuickTable  tbody th{
    border: 2px solid black;
    text-align: left;
    position: relative;
    height: 25px;
    z-index: 1;
    padding: 5px;

}
.deleteButton{
    position: absolute;
    right: 2px;
    z-index: 3;
}

.SearchDraw{
    background-color: beige;
    width: 100%;
    height: 100%;
}

.QuickDraw{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}

.closeButton {
    border: 1px solid black;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(169, 169, 169);
    z-index: 2;
}

.closeButton:hover:active{
    background-color: rgb(190, 190, 190);
}

.closeButton:hover{
    background-color: rgb(182, 182, 182);
}
  

.MenuButton{
    position: absolute;
    top:5px;
    right:5px;
    background-color: white;
    box-shadow: 0;
    border: 1px solid black;
    z-index: 2;
}